body{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
h1,h2,span{
    color: antiquewhite;
}
.cursive{
    font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
.featurette-image{
border-radius:45% ;
width:  300px;
}